@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

body {
  margin: 0;
  overflow: hidden;
}

html {
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  font-size: 36px;
  text-align: center;
  text-shadow: 0px 0px 4px #080808, 0px 0px 8px #000000,;
  background-color: #080808;
  transition: ease-out 0.8s 0.1s
}



@media screen and (min-width: 1450px) {
  html {
     font-size: 36px;
  }
}

@media screen and (max-width: 750px) {
  html {
     font-size: 28px;
  }
}




@media screen and (min-height: 550px) and (max-height: 750px) {
  html {
     font-size: 25px;
  }
}

@media screen and (min-height: 350px) and (max-height: 550px) {
  html {
     font-size: 24px;
  }
}

@media screen and (max-height: 350px){
  html {
     font-size: 22px;
  }
}





html i, html em,
html b, html strong,
html span {
  -webkit-transition: none;
  transition: none;
}

*:before,
*:after {
  z-index: -1;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  padding: 0;
}

a {
  text-decoration: none;
  line-height: 80px;
  color: black;
}

.button-box {
  min-width: 750px;
  padding-top: 8vh;
  padding-left: 8vw;
  position: absolute;
  /* background-color: blue;*/
  transition: ease-in-out 0.6s;
}



@media screen and (min-width: 2400px) {
  .button-box {
    padding-top: 26vh;
    padding-left: 38vw;
    /* background-color: teal; */
  }
}

@media screen and (min-width: 2400px) and (max-width: 2400px) {
  .button-box {
    padding-top: 26vh;
    padding-left: 36vw;
    /* background-color: gray; */
  }
}

@media screen and (min-width: 1950px) and (max-width: 2400px) {
  .button-box {
    padding-top: 26vh;
    padding-left: 34vw;
    /* background-color: yellow; */
  }
}

@media screen and (min-width: 1750px) and (max-width: 1950px) {
  .button-box {
    padding-top: 22vh;
    padding-left: 30vw;
    /* background-color: purple; */
  }
}

@media screen and (min-width: 1500px) and (max-width: 1750px) {
  .button-box {
    padding-top: 18vh;
    padding-left: 27vw;
    /* background-color: red; */
  }
}

@media screen and (min-width: 1350px) and (max-width: 1500px) {
  .button-box {
    padding-top: 15vh;
    padding-left: 25vw;
    /* background-color: green; */
  }
}

@media screen and (min-width: 1100px) and (max-width: 1350px) {
  .button-box {
    padding-top: 12vh;
    padding-left: 20vw;
    /* background-color: orange; */
  }
}

@media screen and (min-width: 950px) and (max-width: 1100px) {
  .button-box {
    padding-top: 8vh;
    padding-left: 14vw;
    /* background-color: pink; */
  }
}






@media screen and (min-height: 700px) and (max-height: 850px){
  .button-box {
    padding-top: 8vh;
  }
}

@media screen and (min-height: 600px) and (max-height: 700px){
  .button-box {
    padding-top: 4vh;
  }
}

@media screen and (max-height: 600px){
  .button-box {
    padding-top: 0vh;
  }
}






[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  min-width: 250px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  z-index: 2;
}

.btn-1 {
  color: #eedddd;
}
.btn-1:before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  filter: drop-shadow(0px 20px 8px #1a1a1a);
  border-right: 50px solid transparent;
  border-bottom: 80px solid rgba(255,255,255,0.1);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.btn-1:hover {
  color: #ffffff;
}
.btn-1:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hide_show {
  opacity: 1;
  transition: opacity 750ms;
}

.back {
  pointer-events: none;
  opacity: 0;
  transition: ease-in-out opacity 1.5s;
  color: #dddddd;
  position: absolute;
  left: 1vw;
  bottom: 0vh;
}



/* If you know, you know */
.fade_in {
  opacity: 0;
  animation:         fadeIn cubic-bezier(1,-0.31,.48,1.01) 1.0s 1.5s forwards;
  -webkit-animation: fadeIn cubic-bezier(1,-0.31,.48,1.01) 1.0s 1.5s forwards;
  -moz-animation:    fadeIn cubic-bezier(1,-0.31,.48,1.01) 1.0s 1.5s forwards;
  -o-animation:      fadeIn cubic-bezier(1,-0.31,.48,1.01) 1.0s 1.5s forwards;
  -ms-animation:     fadeIn cubic-bezier(1,-0.31,.48,1.01) 1.0s 1.5s forwards;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}


